* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 100%;
  font-family: "source_sans_proregular", sans-serif;
  font-size: 18px;
  margin: 0;
  padding-top: 0; }

html, body {
  height: 100%; }

@font-face {
  font-family: "source_sans_proregular";
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_prosemibold";
  src: url("../fonts/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_probold";
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_prolight";
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "source_sans_proitalic";
  src: url("../fonts/sourcesanspro-italic-webfont.eot");
  src: url("../fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
p, dd {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 1em;
  line-height: 150%;
  text-indent: 0; }

section[data-type="preface"] > h1 + p,
div[data-type="part"] > h1 + p,
section[data-type="chapter"] > h1 + p,
section[data-type="chapter"] > h1 + div.author p,
section[data-type="sect1"] > h1 + p,
section[data-type="sect2"] > h2 + p,
section[data-type="sect3"] > h3 + p {
  text-indent: 0px; }

p a {
  display: inline; }

em {
  font-family: "source_sans_proitalic", sans-serif;
  font-style: normal; }

hr {
  height: 20px;
  background: #efefef; }

section {
  max-width: 700px;
  margin: 0 auto; }

section[data-type="titlepage"] h1 {
  font-family: "source_sans_prosemibold", sans-serif;
  border-bottom: 1px solid #333333;
  margin-top: 100px;
  padding-bottom: 10px;
  font-size: 2em;
  line-height: 120%; }
section[data-type="titlepage"] h2 {
  font-size: 1.2em;
  line-height: 120%;
  margin-top: 20px; }
section[data-type="titlepage"] p {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 13pt;
  line-height: 16pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  float: none;
  text-indent: 0; }

section[data-type="titlepage"] h2,
section[data-type="copyright-page"] h1 {
  font-family: "source_sans_prosemibold", sans-serif; }

section[data-type="halftitlepage"] {
  display: none; }

section[data-type="titlepage"] {
  text-align: left;
  page-break-after: always; }

section[data-type="titlepage"] p:first-of-type {
  margin-top: 82pt; }

section[data-type="copyright-page"] {
  margin-top: 100px;
  page-break-after: always; }

section[data-type="copyright-page"] h1 {
  font-size: 0.8em; }

section[data-type="copyright-page"] p {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 0.8em;
  margin: 0;
  text-indent: 0; }

section[data-type="dedication"] {
  font-family: "source_sans_proregular", sans-serif;
  font-style: italic;
  page-break-after: always;
  text-align: center;
  padding-top: 100px; }

nav[data-type="toc"] {
  margin-top: 132px; }
  nav[data-type="toc"] a {
    font-style: normal;
    text-decoration: none;
    padding-left: 20px;
    display: inline-block;
    width: auto;
    padding-bottom: 18px;
    color: #444444; }
    nav[data-type="toc"] a:hover {
      text-decoration: underline; }
  nav[data-type="toc"] li ol li a {
    padding-left: 30px; }
  nav[data-type="toc"] li {
    list-style-type: none;
    font-family: "source_sans_proregular", sans-serif;
    margin-top: 0;
    padding: 20px 0 0px;
    border-bottom: 1px solid #cccccc;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out; }
    nav[data-type="toc"] li:hover {
      color: #222222;
      background: #94c2cd;
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      -ms-transition: background 0.2s ease-in-out;
      -o-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out; }
  nav[data-type="toc"] > h1 {
    font-size: 1.5em;
    line-height: 120%;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center; }
  nav[data-type="toc"] ol {
    padding: 0;
    margin: 0; }
  nav[data-type="toc"] li[data-type="part"] {
    margin-top: 0px;
    border-right: 1px solid #cccccc;
    position: relative;
    cursor: pointer; }
    nav[data-type="toc"] li[data-type="part"]:before {
      content: "";
      width: 14px;
      height: 10px;
      position: absolute;
      top: 24px;
      left: 88%;
      display: block;
      opacity: 0.2;
      background: url("../../images/shared-icons/open-drawer.png") 90% 50% no-repeat;
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    nav[data-type="toc"] li[data-type="part"].open:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition-property: -webkit-transform;
      -moz-transition-property: -moz-transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    nav[data-type="toc"] li[data-type="part"]:hover:before {
      opacity: 0.5; }
    nav[data-type="toc"] li[data-type="part"] > a {
      border-bottom: none;
      width: auto; }
    nav[data-type="toc"] li[data-type="part"] > ol {
      display: none; }
      nav[data-type="toc"] li[data-type="part"] > ol li:last-child {
        border-bottom: none; }
      nav[data-type="toc"] li[data-type="part"] > ol a {
        display: block;
        padding: 20px 30px 18px;
        width: 100%; }
    nav[data-type="toc"] li[data-type="part"] ol {
      margin-left: 0;
      text-indent: 0; }
      nav[data-type="toc"] li[data-type="part"] ol li {
        padding: 0 0 0 8px;
        background: #b1b3b6; }
        nav[data-type="toc"] li[data-type="part"] ol li:hover, nav[data-type="toc"] li[data-type="part"] ol li.active {
          background: #41a2ba; }
        nav[data-type="toc"] li[data-type="part"] ol li ol {
          display: none;
          font-family: "source_sans_proregular", sans-serif;
          font-size: 1em;
          line-height: 120%;
          margin-left: 0px;
          text-indent: -10px; }
        nav[data-type="toc"] li[data-type="part"] ol li a {
          background: #efefef;
          -webkit-transition: background 0.2s ease-in-out;
          -moz-transition: background 0.2s ease-in-out;
          -ms-transition: background 0.2s ease-in-out;
          -o-transition: background 0.2s ease-in-out;
          transition: background 0.2s ease-in-out; }
          nav[data-type="toc"] li[data-type="part"] ol li a:hover {
            background: white;
            text-decoration: none;
            -webkit-transition: background 0.2s ease-in-out;
            -moz-transition: background 0.2s ease-in-out;
            -ms-transition: background 0.2s ease-in-out;
            -o-transition: background 0.2s ease-in-out;
            transition: background 0.2s ease-in-out; }
        nav[data-type="toc"] li[data-type="part"] ol li:first-child a {
          border-top: 1px solid #cccccc; }

nav[data-type="toc"] li[data-type="chapter"],
nav[data-type="toc"] li[data-type="part"],
nav[data-type="toc"] li[data-type="appendix"] {
  font-size: 1em;
  line-height: 120%;
  text-indent: 0;
  margin-top: 0px; }

nav[data-type="toc"] li[data-type="chapter"]:last-of-type,
nav[data-type="toc"] li[data-type="appendix"] {
  margin-bottom: 0px; }

nav[data-type="toc"] li[data-type="chapter"] ol ol {
  margin-left: 10px;
  text-indent: -10px; }

nav[data-type="toc"] li[data-type="preface"],
nav[data-type="toc"] li[data-type="foreword"],
nav[data-type="toc"] li[data-type="glossary"],
nav[data-type="toc"] li[data-type="index"] {
  font-size: 1em;
  line-height: 120%; }

nav[data-type="toc"] li[data-type="preface"] ol,
nav[data-type="toc"] li[data-type="foreword"] ol {
  display: none; }

section[data-type="chapter"] header {
  border-bottom: 18px solid #eeeeee;
  margin-bottom: 5em; }

section[data-type="chapter"] header h1 {
  font-family: "source_sans_probold", sans-serif;
  font-size: 2.4em;
  margin-top: 0em;
  margin-bottom: 1.5em;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  -webkit-font-smoothing: antialiased; }

section[data-type="chapter"] header p {
  font-family: "source_sans_prolight", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0.5em;
  letter-spacing: 2px;
  font-size: 1.1em;
  padding: 12px; }

section[data-type="acknowledgments"] {
  padding: 0 30px;
  max-width: 100%; }
  section[data-type="acknowledgments"] section[data-type="sect1"] {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    section[data-type="acknowledgments"] section[data-type="sect1"]:after {
      content: "";
      display: table;
      clear: both; }
  section[data-type="acknowledgments"] * {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 100%; }
  section[data-type="acknowledgments"] h1 {
    margin-top: 3em;
    margin-bottom: 1em; }
  section[data-type="acknowledgments"] section {
    float: left; }
  section[data-type="acknowledgments"] .header {
    display: table;
    width: 100%;
    background: white;
    border-style: solid;
    border-bottom: none;
    border-width: 2px;
    border-color: #d2d3d5; }
    section[data-type="acknowledgments"] .header p {
      color: #969699;
      font-size: 0.8em;
      line-height: 1.1em;
      margin-right: 1em; }
    section[data-type="acknowledgments"] .header h3 {
      padding-top: 0.6em;
      padding-bottom: 0.3em;
      font-size: 1em;
      font-family: "source_sans_prosemibold", sans-serif; }
      section[data-type="acknowledgments"] .header h3 a {
        color: black; }
  section[data-type="acknowledgments"] .contributor {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    display: inline-block;
    margin-bottom: 28px;
    position: relative;
    height: 400px;
    background: #f4f4f4; }
    section[data-type="acknowledgments"] .contributor:last-child {
      margin-right: 0; }
  section[data-type="acknowledgments"] img.profile {
    height: 88px;
    width: 88px;
    float: left;
    margin-right: 0.7em; }
  section[data-type="acknowledgments"] .description {
    float: left; }
    section[data-type="acknowledgments"] .description p {
      padding: 16px;
      line-height: 1.2em;
      font-size: 0.9em; }
    section[data-type="acknowledgments"] .description .links {
      background: #f4f4f4;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%; }
      section[data-type="acknowledgments"] .description .links a {
        margin: 0 10px 10px 0;
        width: 28px;
        height: 29px;
        display: block;
        float: right;
        text-indent: -9999px;
        opacity: 0.4;
        background: url("../../images/contributors/website.png"); }
        section[data-type="acknowledgments"] .description .links a:hover {
          opacity: 1; }
      section[data-type="acknowledgments"] .description .links .twitter {
        background: url("../../images/contributors/twitter.png"); }
  section[data-type="acknowledgments"] .role {
    float: left;
    width: 100%; }
    section[data-type="acknowledgments"] .role p {
      padding: 7px 36px 5px 16px;
      color: white;
      background: #6baf44;
      text-transform: capitalize; }
    section[data-type="acknowledgments"] .role .editor {
      background: #41a2ba; }
    section[data-type="acknowledgments"] .role .writer {
      background: #3e5084; }

.icon {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 5em auto 3.5em; }

.icon img {
  width: 150px;
  height: 150px;
  margin: 45px; }

div[data-type="part"] {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
  color: white; }
  div[data-type="part"] .content {
    padding: 4em 0 7em; }
  div[data-type="part"] header {
    padding: 200px 0 1.5em; }
  div[data-type="part"] h1 {
    text-transform: uppercase;
    font-size: 3em;
    max-width: 700px;
    margin: 0 auto;
    top: 0px; }
  div[data-type="part"] p {
    text-align: justify;
    max-width: 700px;
    margin: 0 auto 1.5em; }
  div[data-type="part"] + .navigation ul {
    height: 3.5em;
    position: fixed;
    bottom: 0;
    width: 100%; }
  div[data-type="part"] img {
    float: left;
    margin-right: 0.5em; }

.blue blockquote, .blue [data-type="example"] {
  border-color: #41a2ba; }
.blue a, .blue blockquote:before {
  color: #41a2ba; }
.blue .icon, .blue th {
  background: #41a2ba; }
.blue table:not(.custom) tr:nth-child(2n + 1), .blue .highlight {
  background: #f4fafb; }
.blue tr.extra-highlight {
  background: #cfe8ee; }

div[data-type="part"].blue {
  background: #3a92a7; }
  div[data-type="part"].blue .content {
    background: #3a92a7; }
  div[data-type="part"].blue header {
    background: #41a2ba; }
  div[data-type="part"].blue + .navigation ul {
    background: #5fb0c4; }

.yellow blockquote, .yellow [data-type="example"] {
  border-color: #eeb11e; }
.yellow a, .yellow blockquote:before {
  color: #eeb11e; }
.yellow .icon, .yellow th {
  background: #eeb11e; }
.yellow table:not(.custom) tr:nth-child(2n + 1), .yellow .highlight {
  background: #fef9ef; }
.yellow tr.extra-highlight {
  background: #fae9bf; }

div[data-type="part"].yellow {
  background: #e1a411; }
  div[data-type="part"].yellow .content {
    background: #e1a411; }
  div[data-type="part"].yellow header {
    background: #eeb11e; }
  div[data-type="part"].yellow + .navigation ul {
    background: #efbd46; }

.green blockquote, .green [data-type="example"] {
  border-color: #6baf44; }
.green a, .green blockquote:before {
  color: #6baf44; }
.green .icon, .green th {
  background: #6baf44; }
.green table:not(.custom) tr:nth-child(2n + 1), .green .highlight {
  background: #f8fcf6; }
.green tr.extra-highlight {
  background: #dcedd2; }

div[data-type="part"].green {
  background: #609d3d; }
  div[data-type="part"].green .content {
    background: #609d3d; }
  div[data-type="part"].green header {
    background: #6baf44; }
  div[data-type="part"].green + .navigation ul {
    background: #81bd5e; }

.violet blockquote, .violet [data-type="example"] {
  border-color: #3e5084; }
.violet a, .violet blockquote:before {
  color: #3e5084; }
.violet .icon, .violet th {
  background: #3e5084; }
.violet table:not(.custom) tr:nth-child(2n + 1), .violet .highlight {
  background: #f8f9fc; }
.violet tr.extra-highlight {
  background: #d5dbec; }

div[data-type="part"].violet {
  background: #364573; }
  div[data-type="part"].violet .content {
    background: #364573; }
  div[data-type="part"].violet header {
    background: #3e5084; }
  div[data-type="part"].violet + .navigation ul {
    background: #4d629d; }

.red blockquote, .red [data-type="example"] {
  border-color: #cf4627; }
.red a, .red blockquote:before {
  color: #cf4627; }
.red .icon, .red th {
  background: #cf4627; }
.red table:not(.custom) tr:nth-child(2n + 1), .red .highlight {
  background: #fef9f7; }
.red tr.extra-highlight {
  background: #f5d4cd; }

div[data-type="part"].red {
  background: #ba3f23; }
  div[data-type="part"].red .content {
    background: #ba3f23; }
  div[data-type="part"].red header {
    background: #cf4627; }
  div[data-type="part"].red + .navigation ul {
    background: #d96145; }

section[data-type="preface"],
section[data-type="chapter"],
section[data-type="appendix"] {
  page-break-after: always;
  margin-bottom: 10em; }

nav[data-type="toc"] > h1,
div[data-type="part"] > h1,
section[data-type="preface"] > h1,
section[data-type="chapter"] > h1,
section[data-type="appendix"] > h1,
section[data-type="sect1"] h1 {
  font-family: "source_sans_prosemibold", sans-serif;
  line-height: 120%; }

section[data-type="sect2"] h2,
section[data-type="sect3"] h3 {
  font-family: "source_sans_prosemibold", sans-serif;
  line-height: 120%; }

section[data-type="preface"] > h1,
section[data-type="chapter"] > h1,
section[data-type="appendix"] > h1 {
  font-size: 1.8em;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: left; }

section[data-type="sect1"] > h1 {
  font-size: 2em;
  margin-top: 40px;
  margin-bottom: 20px; }

section[data-type="sect2"] h2 {
  font-size: 1.1em;
  margin-top: 30px;
  margin-bottom: 10px; }

section[data-type="sect3"] h3 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 10px; }

div[data-type="part"] > h1 {
  font-size: 3.8em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px; }

ul, ol {
  margin: 10px 0 10px 0; }

ul li, ol li,
ul li p, ol li p {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 1em;
  line-height: 150%;
  margin-top: 0.5em;
  text-indent: 0; }

dl {
  margin-bottom: 15px; }

dt {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 0.9em;
  line-height: 120%;
  margin-top: 15px;
  margin-bottom: 4px; }

dd {
  text-indent: 0;
  margin-left: 20px; }

dd p {
  text-indent: 0; }

table {
  margin-top: 30px;
  margin-bottom: 30px;
  border-collapse: collapse;
  font-size: 0.9em;
  display: block;
  overflow: auto;
  border-bottom: none; }

table caption {
  font-family: "source_sans_proregular", sans-serif;
  line-height: 120%;
  text-align: left;
  margin: 0 0 20px 0;
  padding: 0; }

tr {
  border-width: 0px; }

th {
  font-family: "source_sans_proregular", sans-serif;
  line-height: 120%;
  text-align: left;
  margin-top: 0;
  border-top: 1px solid #d1d2d4;
  border-bottom: 1px solid #d1d2d4;
  border-left: 1px solid #d1d2d4;
  font-size: 1em;
  color: white; }

th, td {
  border-bottom: 1px solid #d1d2d4;
  border-left: 1px solid #d1d2d4;
  padding: 0.7em 1.3em; }
  th:last-child, td:last-child {
    border-right: 1px solid #d1d2d4; }

.nowrap th, .nowrap td {
  white-space: nowrap; }

td {
  vertical-align: top;
  font-size: 1em; }

td, table p {
  font-family: "source_sans_proregular", sans-serif;
  line-height: 120%; }

table p {
  text-indent: 0; }

table ul {
  padding: 0 1.5em; }
  table ul li {
    margin-bottom: 1em; }

td pre.programlisting, td pre.screen, td pre.literallayout, td code {
  white-space: pre-wrap;
  word-wrap: break-word; }

table.question-and-answer th,
table.yes-and-no th,
table.good-and-bad th,
table.sections th {
  font-size: 1.3em;
  padding: 0.5em 1.5em 0.5em 3em; }
table.question-and-answer tr,
table.yes-and-no tr,
table.good-and-bad tr,
table.sections tr {
  background: transparent; }
table.question-and-answer td, table.question-and-answer th,
table.yes-and-no td,
table.yes-and-no th,
table.good-and-bad td,
table.good-and-bad th,
table.sections td,
table.sections th {
  white-space: normal; }
  table.question-and-answer td p, table.question-and-answer th p,
  table.yes-and-no td p,
  table.yes-and-no th p,
  table.good-and-bad td p,
  table.good-and-bad th p,
  table.sections td p,
  table.sections th p {
    font-size: 1em; }
table.question-and-answer td,
table.yes-and-no td,
table.good-and-bad td,
table.sections td {
  padding: 1.3em 1.5em; }

table.question-and-answer th:nth-child(1) {
  background: url("../../images/shared-icons/search.png") 1.2em no-repeat #444444; }
table.question-and-answer th:nth-child(2) {
  background: url("../../images/shared-icons/arrow.png") 1.2em no-repeat #41a2ba; }
table.question-and-answer td {
  width: 50%;
  padding: 1.5em;
  padding-bottom: 1em; }
table.question-and-answer td:nth-child(2) p {
  color: #999999; }
table.question-and-answer td:nth-child(2) h2 {
  font-family: "source_sans_prosemibold", sans-serif;
  color: #41a2ba;
  font-size: 1em;
  margin: 0; }
  table.question-and-answer td:nth-child(2) h2 + p {
    margin-top: 0; }

table.good-and-bad th:nth-child(1) {
  background: url("../../images/shared-icons/good.png") 1.2em no-repeat #6baf44; }
table.good-and-bad th:nth-child(2) {
  background: url("../../images/shared-icons/bad.png") 1.2em no-repeat #a9abaf; }

table.yes-and-no th:nth-child(1) {
  background: url("../../images/shared-icons/check.png") 1.2em no-repeat #6baf44; }
table.yes-and-no th:nth-child(2) {
  background: url("../../images/shared-icons/no.png") 1.2em no-repeat #a9abaf; }
table.yes-and-no td {
  width: 50%; }
table.yes-and-no td:nth-child(2) {
  background: #efefef; }

table.sections th:nth-child(1) {
  background: url("../../images/shared-icons/sections.png") 1.2em no-repeat #444444; }
table.sections th:nth-child(2) {
  background: url("../../images/shared-icons/add.png") 1.2em no-repeat #41a2ba; }
table.sections h2 {
  font-family: "source_sans_prosemibold", sans-serif;
  color: #41a2ba;
  font-size: 0.95em;
  margin: 0; }

figure {
  margin: 0;
  display: block;
  page-break-inside: avoid; }
  figure.separate {
    margin: 40px 0 50px;
    padding: 40px 0;
    border-top: 16px solid #efefef;
    border-bottom: 16px solid #efefef; }
  figure img {
    padding: 30px 0 40px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: none; }

figcaption {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 0.9em;
  font-style: italic;
  line-height: 120%;
  display: block;
  padding: 20px;
  background: #efefef;
  border-radius: 2px; }

aside {
  background-color: #efefef;
  border: 1px solid #efefef;
  padding: 20px 20px 10px 20px;
  margin: 30px 0 30px 0; }

aside h5 {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 1em;
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding: 0; }

aside h6 {
  font-family: "source_sans_proregular", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 120%; }

aside p {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 1em;
  line-height: 130%;
  text-indent: 0;
  margin-top: 6px; }

aside[data-type="footnotes"] p {
  line-height: 1.6em;
  margin-bottom: 1.5em;
  word-wrap: break-word; }
aside[data-type="footnotes"] a[target="_blank"] {
  text-decoration: none; }
  aside[data-type="footnotes"] a[target="_blank"]:hover {
    text-decoration: underline; }
aside[data-type="footnotes"] a:not([target="_blank"]) {
  text-decoration: none;
  float: left;
  width: 1.5em;
  height: 1.5em;
  background: #bbbbbb;
  border-radius: 50%;
  margin: 0 0.8em 0.5em 0; }
  aside[data-type="footnotes"] a:not([target="_blank"]):hover {
    background: #aaaaaa; }
  aside[data-type="footnotes"] a:not([target="_blank"]) sup {
    height: 1em;
    line-height: 0;
    color: white;
    margin: 0.95em 0;
    display: block;
    text-align: center; }

a[data-type="noteref"] {
  text-decoration: none;
  margin: 0 0.2em; }
  a[data-type="noteref"]:hover {
    text-decoration: underline; }
  a[data-type="noteref"]:focus {
    outline: none; }

div[data-type="note"],
div[data-type="warning"] {
  margin: 50px 0 40px;
  page-break-inside: avoid;
  background: #efefef;
  border-radius: 2px;
  padding: 15px 40px 20px 40px; }

div[data-type="warning"] {
  background: url("../../images/shared-icons/warning.png") 1.6em 2em no-repeat #efefef;
  border-top: 12px solid #cf4627;
  padding-left: 110px; }

div[data-type="note"] h1,
div[data-type="warning"] h1 {
  color: black;
  font-family: "source_sans_prosemibold", sans-serif;
  font-size: 1.4em;
  text-align: center;
  margin: 4px 0;
  padding: 0; }

div[data-type="note"] p,
div[data-type="warning"] p {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 1em;
  line-height: 120%;
  text-indent: 0in; }

pre, code {
  font-family: monospace; }

pre {
  font-size: 0.9em;
  line-height: 120%;
  margin: 10px;
  overflow-x: auto; }

code {
  font-size: 0.9em;
  line-height: 120%; }

table pre {
  text-indent: 0; }

div[data-type="note"] code,
div[data-type="warning"] code,
aside code,
table code {
  font-size: inherit;
  line-height: inherit; }

div[data-type="example"] {
  padding: 1px 30px;
  background: #f4f4f4;
  border-left: 10px solid #efefef; }
  div[data-type="example"].neutral {
    border-left: 10px solid #a9abaf; }

div[data-type="example"] h5 {
  font-family: "source_sans_proregular", sans-serif;
  font-size: 0.8em;
  line-height: 120%;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 6px;
  margin-top: 30px; }

blockquote {
  font-family: "source_sans_proitalic", sans-serif;
  font-size: 1.1em;
  line-height: 130%;
  margin: 30px;
  padding: 20px;
  background: #f4f4f4;
  border-left: 10px solid #efefef; }

blockquote:before {
  content: "\201C";
  font-size: 4em;
  line-height: 0em;
  margin-right: 0.2em;
  vertical-align: -0.4em; }

blockquote p {
  text-indent: 0;
  font-family: "source_sans_proitalic", sans-serif; }

div.navbar {
  font-family: "source_sans_proregular", sans-serif;
  background-color: #dfdfdf;
  position: fixed;
  top: 0;
  left: -320px;
  width: 320px;
  padding: 0;
  border-bottom: 1px solid #d8d8d8;
  font-size: 0.9em;
  overflow: scroll;
  height: 100%;
  z-index: 2; }
  div.navbar .title {
    background: #666666;
    position: fixed;
    width: 320px; }
  div.navbar h1 {
    font-family: "source_sans_prosemibold";
    text-transform: uppercase;
    font-size: 1.7em;
    float: left;
    width: 250px;
    margin: 0;
    padding: 14px 20px;
    color: white;
    -webkit-font-smoothing: antialiased; }
  div.navbar h2 {
    clear: both;
    font-size: 1em;
    margin-bottom: 0;
    padding: 14px 20px;
    background: #7b7b7b;
    color: white;
    -webkit-font-smoothing: antialiased; }

.btn {
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }
  .btn:hover {
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
  .btn.open {
    position: fixed;
    left: 30px;
    top: 24px;
    background: url("../../images/shared-icons/nav.png") no-repeat;
    z-index: 1; }
  .btn.close {
    width: 24px;
    height: 24px;
    margin-top: 19px;
    float: right;
    margin-right: 20px;
    background: url("../../images/shared-icons/close.png") no-repeat; }

div.navbar p {
  float: right;
  font-size: 1em;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-family: "source_sans_proregular", sans-serif; }

div.navbar p a {
  text-decoration: none;
  color: #999999; }

.navigation ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0; }
  .navigation ul li {
    position: fixed;
    bottom: 18px; }
    .navigation ul li a {
      opacity: 0.3;
      text-transform: lowercase;
      text-decoration: none;
      color: black;
      width: 66px;
      height: 26px;
      display: block;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
      .navigation ul li a:hover {
        opacity: 0.8;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out; }
  .navigation ul li:nth-child(1) {
    right: 30px; }
    .navigation ul li:nth-child(1) a {
      padding-right: 30px;
      background: url("../../images/shared-icons/next.png") right no-repeat; }
  .navigation ul li:nth-child(2) {
    left: 30px; }
    .navigation ul li:nth-child(2) a {
      padding-left: 30px;
      background: url("../../images/shared-icons/prev.png") left no-repeat; }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  section[data-type="chapter"] {
    padding: 30px; } }
@media screen and (min-width: 960px) {
  section[data-type="acknowledgments"] .contributor:nth-child(3n) {
    margin-right: 0; }
  section[data-type="acknowledgments"] .contributor:nth-child(3n+1) {
    clear: left; } }
@media screen and (max-width: 960px) {
  .navigation {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3em;
    background: #efefef;
    border: 1px solid #d1d2d4;
    border-radius: 2px; }
    .navigation ul {
      padding: 0; }
      .navigation ul li {
        bottom: 5p 5;
        position: relative; }
        .navigation ul li:nth-child(1) {
          float: right;
          right: 22px; }
        .navigation ul li:nth-child(2) {
          float: left;
          left: 20px; }

  section[data-type="acknowledgments"] .contributor {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    section[data-type="acknowledgments"] .contributor:last-child {
      margin-right: 0; }
    section[data-type="acknowledgments"] .contributor:nth-child(2n) {
      margin-right: 0; }
    section[data-type="acknowledgments"] .contributor:nth-child(2n+1) {
      clear: left; }

  div[data-type="part"] + .navigation {
    position: absolute;
    background: transparent;
    border: none; }
    div[data-type="part"] + .navigation ul li {
      bottom: 18px;
      position: fixed; }

  div[data-type="part"] .content, div[data-type="part"] h1 {
    padding-left: 30px;
    padding-right: 30px; } }
@media screen and (max-width: 480px) {
  body {
    width: 100%; }

  section[data-type="chapter"] {
    padding: 30px; }

  div[data-type="part"] {
    padding: 0 30px; }
    div[data-type="part"] h1 {
      font-size: 3em;
      width: auto;
      text-align: center;
      margin-left: 0;
      margin-top: 1em; }
    div[data-type="part"] p {
      margin-left: 0;
      width: auto; }

  div.navbar {
    position: fixed;
    padding: 0;
    border-bottom: 2px solid #e8e8e8;
    box-shadow: 0px 0px 0px #f0f0f0;
    text-align: left; }

  div.navbar p {
    float: none;
    text-indent: 0; }

  .btn.open {
    position: absolute; }

  section[data-type="acknowledgments"] .contributor {
    width: 100%; } }
