/* Add your custom CSS styles for the PDF here */

@page { /* defining overall trim size and page layout */
  size: 5.5in 8.5in; /* width, heigth */
  margin: 54pt 0.75in 54pt 0.75in; /* white space around the page */
  @bottom-left { /* left footer area */
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 8pt;
    text-align: left;
    padding-top: 17pt;
    margin-top: 0;
    vertical-align: top;
  }
  @bottom-right { /* right footer area */
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 8pt;
    text-align: right;
    padding-top: 17pt;
    margin-top: 0;
    vertical-align: top;
  }
  @footnote { /* Place footnotes at the bottom of the page */
  	margin-top: 0.25in;
  	margin-bottom: 0;
  	padding-top: 6pt;
  	padding-bottom: 0;
  	border-top: solid 0.5pt cmyk(0%,0%,0%,100%);
  	border-length: 25%;
  	-ah-float: page bottom;
  }
}