@charset "UTF-8"

@font-face
  font-family: "source_sans_proregular"
  src: url("../fonts/sourcesanspro-regular-webfont.eot")
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "source_sans_prosemibold"
  src: url("../fonts/sourcesanspro-semibold-webfont.eot")
  src: url("../fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "source_sans_probold"
  src: url("../fonts/sourcesanspro-bold-webfont.eot")
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "source_sans_prolight"
  src: url("../fonts/sourcesanspro-light-webfont.eot")
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "source_sans_proitalic"
  src: url("../fonts/sourcesanspro-italic-webfont.eot")
  src: url("../fonts/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-italic-webfont.woff") format("woff"), url("../fonts/sourcesanspro-italic-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg")
  font-weight: normal
  font-style: normal

$yellow: #eeb11e
$red: #cf4627
$blue: #41a2ba
$violet: #3e5084
$green: #6baf44
$light-gray: #efefef
$gray: #d1d2d4

$light-yellow: lighten($yellow, 44)
$light-red: lighten($red, 50)
$light-blue: lighten($blue, 48)
$light-violet: lighten($violet, 60)
$light-green: lighten($green, 50)

$colors: $blue $yellow $green $violet $red
$light-colors: $light-blue $light-yellow $light-green $light-violet $light-red

$color-names: blue yellow green violet red

@for $i from 1 through 5
  $color: nth($colors, $i)
  $light-color: nth($light-colors, $i)
  $color-name: nth($color-names, $i)
  .#{nth($color-names, $i)}
    blockquote, [data-type="example"]
      border-color: $color
    a, blockquote:before
      color: $color
    .icon, th
      background: $color
    table:not(.custom) tr:nth-child(2n + 1), .highlight
      background: $light-color
    tr.custom.extra-highlight
      background: darken($light-color, 10)
    section[data-type="sect1"]
      border-top: 18px solid $color
  div[data-type="part"].#{nth($color-names, $i)}
    background: darken($color, 5)
    .content
      background: darken($color, 5)
    header
      background: $color
    + .navigation ul
      background: lighten(desaturate($color, 2), 8)

.icon
  width: 240px
  height: 240px
  border-radius: 120px
  margin: .5in auto

.icon img
  width: 150px
  height: 150px
  margin: 45px

@page
  /* defining overall trim size and page layout
  size: 7in 9.1875in
  /* width, height
  margin-top: 0.75in
  /* white space around the page
  margin-bottom: 0.75in
  @sidenote
    float: outside
    width: 1.1in
    clear: both


head title
  display: none

figure[data-type="cover"]
  page: cover
  img
    max-width: 100%
    position: fixed
    left: 0
    top: 0

@page cover
  margin: 0
  padding: 0


@page
  margin-left: .75in
  margin-right: .75in
  @bottom-right-corner
    font-family: "source_sans_proregular", sans-serif
    font-size: 9pt
    text-align: left
    margin-top: 5pt
    margin-left: .5in

  @top-left
    font-family: "source_sans_proregular", sans-serif
    font-size: 8pt
    text-align: left
    margin-top: 6pt

  @sidenote
    margin-left: -1.25in

@page :blank
  /* defining a truly blank master page
  @bottom-left-corner
    content: none

  @bottom-right-corner
    content: none

  @top-right
    content: none

  @top-left
    content: none


/* general blocks

li > p, dd p
  text-indent: 0
  /* first paragraph following a heading has no indent

section
  &[data-type="titlepage"] p, &[data-type="copyright-page"] p
    text-indent: 0
    /* first paragraph following a heading has no indent

p
  &[data-type="author"], &.author
    text-indent: 0
    /* first paragraph following a heading has no indent

section
  &[data-type="preface"] > h1 + p, &[data-type="foreword"] > h1 + p
    text-indent: 0
    /* first paragraph following a heading has no indent

div[data-type="part"] > h1 + p
  text-indent: 0
  /* first paragraph following a heading has no indent

section
  &[data-type="chapter"] > h1 +
    p, div.author p
      text-indent: 0
      /* first paragraph following a heading has no indent
  &[data-type="sect1"] > h1 + p, &[data-type="sect2"] > h2 + p, &[data-type="sect3"] > h3 + p
    text-indent: 0
    /* first paragraph following a heading has no indent

h1 + p, h2 + p, h3 + P
  text-indent: 0
  /* first paragraph following a heading has no indent

p, dd
  font-family: "source_sans_proregular", sans-serif
  text-indent: 0in
  font-size: 11.5pt
  line-height: 15pt
  margin-bottom: 13pt
  text-align: justify

h3
  font-family: "source_sans_probold", sans-serif
  font-size: 14pt
  color: #aaaaaa
  text-transform: uppercase
  margin-top: 20pt
  margin-bottom: 5pt

/* global styles

body
  -ah-kerning-mode: pair
  -ah-hyphenate-hyphenated-word: false
  hyphens: auto
  font-family: "source_sans_proregular", sans-serif

/* general inlines

a
  color: cmyk(0%, 0%, 0%, 80%)
  font-weight: bold
  text-decoration: none

/* PDF bookmarks

nav[data-type="toc"] > h1, div[data-type="part"] > h1
  bookmark-level: 1
  bookmark-state: closed

section
  &[data-type="preface"] > h1, &[data-type="foreword"] > h1, &[data-type="chapter"] > h1, &[data-type="appendix"] > h1
    bookmark-level: 1
    bookmark-state: closed
  &[data-type="sect1"] > h1
    bookmark-level: 2
    bookmark-state: closed

/* reset counters

/* counters add auto-numbering to elements in the book. 
 * This reset initiates the counters, enabling them 
 * to begin numbering correctly.

body[data-type="book"]
  counter-reset: page 1 PartNumber ChapterNumber AppendixNumber FigureNumber TableNumber ExampleNumber EquationNumber footnote

/* frontmatter

section
  &[data-type="halftitlepage"], &[data-type="titlepage"]
    page: blank
    text-align: right
    page-break-before: right
    /* titlepages always start on a right-hand page
    page-break-after: always
  &[data-type="halftitlepage"] h1, &[data-type="titlepage"] h1
    border-bottom: 0.5pt solid cmyk(0%, 0%, 0%, 100%)
    margin-top: 126pt
    padding-bottom: 7pt
    text-align: left
  &[data-type="halftitlepage"] h2, &[data-type="titlepage"] h2
    font-family: "source_sans_prosemibold"
    font-size: 13pt
    text-align: left
  &[data-type="halftitlepage"] h1
    font-size: 16pt
    line-height: 18pt
  &[data-type="titlepage"]
    h1
      font-size: 20pt
      line-height: 24pt
      font-weight: normal
    p[data-type="author"]
      font-size: 11pt
      margin-top: 66pt
  &[data-type="copyright-page"]
    page: blank
    page-break-after: always
    h1
      font-family: "source_sans_proregular", sans-serif
      font-weight: bold
      font-size: 8pt
      margin: 0
    p
      &.author
        font-size: 8pt
      &.isbn!
  &[data-type="dedication"]
    font-family: 'Crimson-Italic', serif
    font-style: italic
    page: blank
    page-break-after: always
    text-align: center
    padding-top: 96pt

/* titlepage text font

/* styling and positioning for author names

/* copyright page

/* dedication

/* table of contents
section[data-type="chapter"] header
  border-bottom: 18px solid #eeeeee
  margin-bottom: 4em
  h1
    font-family: 'source_sans_probold', sans-serif
    font-size: 32pt
    margin-top: 0
    margin-bottom: 0
    text-align: center
    text-transform: uppercase
    color: #444
    -webkit-font-smoothing: antialiased
  h2

  p
    font-family: 'source_sans_prolight', sans-serif
    text-align: center
    text-transform: uppercase
    margin: 0pt 16pt
    letter-spacing: 1pt
    font-size: 16pt
    padding: .3in
    &[data-type="author"]
      color: #aaa
      font-size: 12pt
      margin-bottom: .5in
      page-break-after: always

/* paged media
@page toc:first
  @bottom-right-corner
    content: counter(page, lower-roman)

  @top-right
    content: none


@page toc
  @bottom-left-corner
    content: counter(page, lower-roman)

  @top-left
    content: "Table of Contents"

@page toc:blank
  @bottom-left-corner
    content: none

  @bottom-right-corner
    content: none

  @top-right
    content: none

  @top-left
    content: none


nav[data-type="toc"]
  > h1
    /* table of contents heading
    font-size: 16pt
    line-height: 22pt
    margin-top: 87pt
    margin-bottom: 77pt
    text-align: right
  /* table of contents is a series of nested lists in a nav element
  page: toc
  page-break-before: right
  font-variant: tabular-nums
  hyphens: none
  counter-reset: ChapterNumberTOC PartNumberTOC AppendixNumberTOC
  a
    font-weight: normal
    color: cmyk(0%, 0%, 0%, 100%)
    font-style: normal
  li
    /* no list marker on table of contents entries
    list-style-type: none
    margin-left: 0
    text-align: left
  ol
    margin-left: 0
  li
    &[data-type="chapter"], &[data-type="appendix"], &[data-type="glossary"], &[data-type="index"]
      font-family: "source_sans_prosemibold", sans-serif
      font-size: 9.5pt
      font-weight: 600
      margin-top: 14.4pt
      display: list-item
      page-break-after: avoid
    &[data-type="preface"], &[data-type="foreword"]
      font-family: "source_sans_prosemibold", sans-serif
      font-style: italic
      font-size: 9.5pt
      font-weight: 600
      display: list-item
    &[data-type="chapter"] > a:after, &[data-type="appendix"] > a:after, &[data-type="index"] > a:after, &[data-type="glossary"] > a:after
      content: leader(space) " " target-counter(attr(href, url), page)
      font-weight: 600
    &[data-type="sect1"] a:after, &[data-type="sect2"] a:after
      content: leader(space) target-counter(attr(href, url), page)
      margin-right: -0.25in
      /* for long lines
    &[data-type="preface"] > a:after, &[data-type="foreword"] > a:after
      content: leader(space) " " target-counter(attr(href, url), page, lower-roman)
    &[data-type="preface"] li
      &[data-type="sect1"], &[data-type="sect2"]
        /* and appendix
        display: none
    &[data-type="foreword"] li
      &[data-type="sect1"], &[data-type="sect2"]
        /* and appendix
        display: none
    &[data-type="appendix"] li
      &[data-type="sect1"], &[data-type="sect2"]
        /* and appendix
        display: none
    &[data-type="part"]:before
      content: "Part " counter(PartNumberTOC, upper-roman) ".\2003"
      counter-increment: PartNumberTOC
    &[data-type="chapter"]:before
      content: "CHAPTER " counter(ChapterNumberTOC, decimal) ": "
      counter-increment: ChapterNumberTOC

/* global styles for the table of contents

li
  &[data-type="sect1"], &[data-type="sect2"]
    font-family: "source_sans_proregular", sans-serif
    font-size: 9.5pt
    font-weight: normal
    page-break-after: auto
    margin-bottom: 5pt
    margin-top: 5pt
    /* otherwise, cascades from above
  &[data-type="sect1"]
    padding-left: 24pt
    text-indent: -12pt
    padding-right: 0.25in
    /* for long lines; cascades to sect2s
  &[data-type="sect2"]
    padding-left: 0.12in
    margin-left: 0

/* appendixes

nav[data-type="toc"] li[data-type="appendix"]
  padding-left: 0
  margin-left: 0
  list-style-position: inside
  &::marker
    content: counter(AppendixNumberTOC, upper-alpha) "."
    counter-increment: AppendixNumberTOC
    margin-right: 5pt

/* preface, chapter, and appendix headings

/* shared styles for all chapter-level headings

section
  &[data-type="preface"] > h1, &[data-type="foreword"] > h1, &[data-type="appendix"] > h1
    line-height: 22pt
    margin-bottom: 0.9in
    margin-top: 0.5in
    text-align: right
  &[data-type="preface"] > h1, &[data-type="foreword"] > h1
    string-set: ChapterTitle self
  &[data-type="chapter"] > h1
    string-set: ChapterTitle self, SectionTitle self
    counter-increment: ChapterNumber
  &[data-type="appendix"] > h1
    string-set: ChapterTitle self
    counter-increment: AppendixNumber
  &[data-type="chapter"] > h1:after, &[data-type="appendix"] > h1:after
    font-size: 65pt
    font-family: "source_sans_prolight", sans-serif
    letter-spacing: -3pt
    display: block
    position: relative
    bottom: 0.445in
    left: 4.5in
    text-align: center
    width: 0.75in
  &[data-type="chapter"] > h1:after
    content: counter(ChapterNumber)
  &[data-type="appendix"] > h1:after
    content: counter(AppendixNumber, upper-alpha)

/* chapter and appendix headings include auto-numbering

/* section headings

h1, h2, h3, h4, h5, h6
  hyphens: none
  text-align: left
  font-weight: normal

section[data-type="sect1"]
  margin-top: .5in
  padding-top: .5in

section
  &[data-type="sect1"] > h1
    /* A-level headings
    font-weight: bold
    font-size: 12pt
    line-height: 16pt
    margin-top: 18pt
    margin-bottom: 14pt
    string-set: SectionTitle self
    /* A-heads are also displayed in chapter footers
  &[data-type="preface"]
    > h1
      font-size: 16pt
      font-weight: normal
    page: preface
    page-break-before: right
    /* forces the preface to start on a right hand page
    counter-reset: FigureNumber TableNumber ExampleNumber EquationNumber footnote
    /* setting auto-numbers for figures, tables, and footnotes to start at 1
  &[data-type="foreword"]
    > h1
      font-size: 16pt
      font-weight: normal
    page: foreword
    page-break-before: right
    /* forces the foreword to start on a right hand page
    counter-reset: FigureNumber TableNumber ExampleNumber EquationNumber footnote
    /* setting auto-numbers for figures, tables, and footnotes to start at 1

/* prefaces

@page preface:first
  @bottom-right-corner
    content: counter(page, lower-roman)

  @top-right
    content: none


@page preface
  @top-left
    content: string(ChapterTitle)

  @bottom-left-corner
    content: counter(page, lower-roman)

@page preface:blank
  @bottom-left-corner
    content: none

  @bottom-right-corner
    content: none

  @top-right
    content: none

  @top-left
    content: none


/* forewords

@page foreword:first
  @bottom-right-corner
    content: counter(page, lower-roman)

  @top-right
    content: none

@page foreword
  @top-left
    content: string(ChapterTitle)

  @bottom-left-corner
    content: counter(page, lower-roman)

@page foreword:blank
  @bottom-left-corner
    content: none

  @bottom-right-corner
    content: none

  @top-right
    content: none

  @top-left
    content: none


/* parts

div[data-type="part"]
  page: blank
  page-break-before: right
  margin: -.75in
  width: 9in
  padding: .75in
  max-width: 100%
  height: auto
  min-height: 7.25in
  color: white
  header h1
    font-family: "source_sans_probold", sans-serif
    font-size: 30pt
    line-height: 22pt
    text-align: center
    margin-left: 0
    margin-right: 0
    margin-top: 0
    padding: .5in
    counter-increment: PartNumber
    text-transform: uppercase
    color: #fff
    img 
      display: block
      margin-bottom: .5in
  p
    color: #fff
    font-size: 12pt

/* chapters

@page chapter:first
  @top-right
    content: none

  @top-left
    content: none

  @bottom-right-corner
    content: none

@page chapter
  @bottom-right-corner
    content: counter(page)

  @top-left
    content: "CHAPTER " counter(ChapterNumberTOC) ": " string(ChapterTitle)

/* page number resets to 1 on the first chapter

section
  &.pagenumrestart
    counter-reset: page 1
  &[data-type="chapter"]
    page: chapter
    page-break-before: always
    /* forces new chapters to start on a right hand page
    counter-reset: TableNumber FigureNumber ExampleNumber EquationNumber footnote
  &[data-type="appendix"]
    page: appendix
    page-break-before: right
    /* forces new chapters to start on a right hand page
    counter-reset: FigureNumber TableNumber ExampleNumber EquationNumber footnote

/* appendixes

@page appendix:first
  @bottom-left
    content: normal


@page appendix:left
  @bottom-left
    content: counter(page)

  @bottom-right
    content: "Appendix " counter(AppendixNumber, upper-alpha) ", " string(ChapterTitle)

@page appendix:right
  @bottom-right
    content: counter(page)

  @bottom-left
    content: string(SectionTitle)

/* lists

ul, ol
  /* bulleted and numbered lists
  margin: 7pt 0 7pt .33in

ul li, ol li
  font-family: "source_sans_proregular", sans-serif
  font-size: 9.5pt
  margin-top: 3pt

dl
  /* definition lists
  margin-bottom: 7pt

dt
  /* definition list terms
  font-family: "source_sans_prosemibold", sans-serif
  font-size: 9.5pt
  line-height: 14pt
  margin-top: 7pt

dd
  /* definition list descriptions
  text-indent: 0
  margin-left: 0.1667in

/* tables

table
  margin: 12pt 0
  border-collapse: collapse

thead + tbody
  border-bottom: 0.5pt solid cmyk(0%, 0%, 0%, 100%)

table caption
  margin-bottom: 5pt
  page-break-after: avoid
  text-align: left
  font-style: italic
  font-size: 7.5pt
  line-height: 10pt
  hyphens: none
  &:before
    font-family: "source_sans_probold", sans-serif
    font-style: normal
    font-size: 8.5pt
    counter-increment: TableNumber
    content: "TABLE " counter(ChapterNumber) "-" counter(TableNumber) ". "
    margin-bottom: 7.2pt
    margin-top: 0

tr
  border-width: 0

th
  /* table heading rows
  font-family: "source_sans_proregular", sans-serif
  font-weight: bold
  font-size: 9pt
  text-align: left
  margin-top: 0
  border-top: 0.5pt solid cmyk(0%, 0%, 0%, 100%)
  border-bottom: 0.5pt solid cmyk(0%, 0%, 0%, 100%)
  padding: 4.5pt 0.0625in 4.5pt 0.0625in
  color: #fff

td
  padding: 4.5pt 0.0625in 4.5pt 0.0625in
  /* table body text
  font-family: "source_sans_proregular", sans-serif
  font-size: 9pt
  line-height: 10pt

th, td
  border-bottom: 1px solid $gray
  border-left: 1px solid $gray
  &:last-child
    border-right: 1px solid $gray

tr
  border-width: 0px
  &:first-child
    border-top: 1px solid $gray

table p
  /* table body text
  font-family: "source_sans_proregular", sans-serif
  font-size: 9pt
  line-height: 10pt
  /* table body text
  text-indent: 0
  margin: 0

td
  pre
    &.programlisting, &.screen, &.literallayout
      /* allow code in tables to wrap
      white-space: pre-wrap
      word-wrap: break-word
  code
    /* allow code in tables to wrap
    white-space: pre-wrap
    word-wrap: break-word

/* figures

figure
  display: block
  margin: 16pt 0 
  padding: 8.64pt 0
  clear: both
  text-align: center
  /* in AH Land, this is how you center an img in a block
  overflow: auto
  figcaption
    display: block
    -ah-float: outside page
    clear: both
    margin-left: -1.25in
    margin-right: -1.25in
    width: 1in
    text-align: left
    font-style: italic
    font-size: 7.5pt
    line-height: 10pt
    hyphens: none
  img
    margin: 0 auto
    text-align: center

figcaption:before
  font-family: "source_sans_probold", sans-serif
  font-style: normal
  font-size: 8.5pt
  counter-increment: FigureNumber
  content: "FIGURE " counter(ChapterNumber) "-" counter(FigureNumber)
  display: block
  margin-bottom: 7.2pt

section
  &[data-type="preface"] figcaption:before
    content: "Figure P-" counter(FigureNumber) ". "
  &[data-type="foreword"] figcaption:before
    content: "Figure F-" counter(FigureNumber) ". "
  &[data-type="appendix"] figcaption:before
    content: "Figure " counter(AppendixNumber) "-" counter(FigureNumber) ". "

img
  max-width: 100%
  margin: 15pt auto

figure img
  max-width: 5.5in
  margin: 0 auto

dt img
  display: inline-block
  margin: 0

figure div.border-box
  display: inline

/* sidebars

aside
  &[data-type="sidebar"]
    /* sidebar containers
    background-color: cmyk(0%, 0%, 0%, 15%)
    margin: 0.25in -1.625in
    padding: 0.25in 1.625in
    width: 4.375in
    clear: both
  h5
    /* sidebar titles
    font-family: "source_sans_probold", sans-serif
    font-size: 11pt
    line-height: 13pt
    text-align: center
    text-transform: uppercase
    margin-bottom: 0.2in
    margin-top: 0
  h6
    /* sidebar subtitles
  p, dd
    /* sidebar text
    font-size: 7.5pt
    line-height: 11.5pt
    text-indent: 0
    margin-bottom: 6pt
  dt
    font-size: 7.5pt
    font-weight: bold

/* admonitions

div
  &[data-type="note"], &[data-type="warning"]
    /* admonition containers
    margin: 10pt 20pt
    padding-top: 5pt
    border-top: solid 0.5pt cmyk(0%, 0%, 0%, 100%)
    border-bottom: solid 0.5pt cmyk(0%, 0%, 0%, 100%)
    page-break-inside: avoid
  &[data-type="note"] p, &[data-type="warning"] p
    /* admon text
    text-align: left
    text-indent: 0
    font-size: 7.5pt
    line-height: 11pt
    margin-bottom: 6pt
  &[data-type="note"] li, &[data-type="warning"] li
    font-size: 7.5pt
  &[data-type="note"] h1, &[data-type="warning"] h1
    /* admonition titles
    font-family: "source_sans_probold", sans-serif
    font-size: 8.5pt
    text-transform: uppercase
    letter-spacing: 0.75pt
    margin-bottom: 7pt
    margin-top: 0
  &[data-type="note"] pre, &[data-type="warning"] pre
    font-size: 7.5pt
    margin: 0 0 6pt 4pt

/* code

pre, code
  /* monospace font for both code blocks and inline code
  font-family: 'UbuntuMono', monospace

pre
  /* code blocks
  font-size: 9pt
  line-height: 11pt
  margin: 12pt 0 12pt 0.167in
  white-space: pre-wrap
  -ah-ignore-leading-newline: true

code
  font-size: 107%

pre code
  font-size: inherit

div[data-type="example"]
  h5
    margin-bottom: 5pt
    page-break-after: avoid
    text-align: left
    font-style: italic
    font-size: 7.5pt
    line-height: 10pt
    hyphens: none
    &:before
      font-family: '"source_sans_probold"', sans-serif
      font-style: normal
      font-size: 8.5pt
      counter-increment: ExampleNumber
      content: "EXAMPLE " counter(ChapterNumber) "-" counter(ExampleNumber) ". "
      margin-bottom: 7.2pt
      margin-top: 0
  pre
    margin-left: 0

/* blockquote

blockquote
  margin: 15pt 0.1667in
  p
    text-indent: 0
    font-family: "source_sans_proregular", sans-serif
    font-size: 7.5pt

p[data-type="attribution"]
  text-align: right
  margin-top: 6pt

/* math

div[data-type="equation"]
  margin: 12pt 0 12pt 0.167in

@namespace mml "http://www.w3.org/1998/Math/MathML"

mml|math
  font-size: 12pt

div
  &[data-type="equation"] h5
    -ah-float: outside page
    clear: both
    margin: 0 -1.25in
    padding-top: 5pt
    border-top: solid 0.5pt cmyk(0%, 0%, 0%, 100%)
    width: 1in
    page-break-inside: avoid
    text-align: left
    font-style: italic
    font-size: 7.5pt
    line-height: 10pt
    hyphens: none
    &:before
      font-family: "source_sans_probold", sans-serif
      font-style: normal
      font-size: 8.5pt
      counter-increment: EquationNumber
      content: "EQUATION " counter(ChapterNumber) "-" counter(EquationNumber)
      display: block
      margin-bottom: 7.2pt
  &.hard-pagebreak
    page-break-after: always

/* ------------------- PAGEBREAK HANDLING -------------------

/* force a page break
