<ol>
  <li data-type="foreword">
    <a href="foreword01.html#idm1526560">Foreword</a>
  </li>
  <li data-type="preface">
    <a href="preface01.html#idp1578976">This Is a
      Heading</a>
  </li>
  <li data-type="introduction">
    <a href="introduction01.html#idp1580544">This Is a
      Heading</a>
  </li>
  <li data-type="part">
    <a href="part01.html#idp1580912">Data Fundamentals</a>
    <ol>
      <li data-type="chapter">
        <a href="ch01.html#idp1582416">Basic Data Types</a>
        <ol>
          <li data-type="sect1"><a href="ch01.html#idp1867536">A Qualitative
          Memory</a></li>
        </ol>
      </li>
      <li data-type="chapter">
        <a href="ch02.html#idp1868000">Descriptive vs. inferential statistics</a>
        <ol>
          <li data-type="sect1"><a href="ch02.html#idp1883696">Inferential
          statistics</a></li>
        </ol>
      </li>
      <li data-type="chapter">
        <a href="ch03.html#idp1895008">On Data Aggregation</a>
        <ol>
          <li data-type="sect1"><a href="ch03.html#idp1899296">Factoid</a></li>
        </ol>
      </li>
    </ol>
  </li>

  <li data-type="part">
    <a href="part02.html#idp2229696">Collecting Data</a>
    <ol>
      <li data-type="chapter">
        <a href="ch04.html#idp2228064">Intro to Survey Design</a>
        <ol>
          <li data-type="sect1"><a href="ch04.html#idp1910224">Purpose of a Survey</a></li>
        </ol>
      </li>

      <li data-type="chapter"><a href="ch05.html#idp2454384">Additional Data Collection
      Methods</a></li>

      <li data-type="chapter">
        <a href="ch06.html#idp2451552">Codebooks</a>

        <ol>
          <li data-type="sect1"><a href="ch06.html#idp2466448">1. You might want to to code
          your data.</a></li>
        </ol>
      </li>

      <li data-type="chapter">
        <a href="ch07.html#idp2467408">Finding external data</a>

        <ol>
          <li data-type="sect1"><a href="ch07.html#idp2482672">Non-Public Data</a></li>
        </ol>
      </li>
    </ol>
  </li>

  <li data-type="part">
    <a href="part03.html#idp2522640">Preparing Data for Use</a>
    <ol>
      <li data-type="chapter">
        <a href="ch08.html#idp2532736">Data Preparation</a>

        <ol>
          <li data-type="sect1"><a href="ch08.html#idp2531056">Let&rsquo;s begin</a></li>
        </ol>
      </li>

      <li data-type="chapter">
        <a href="ch09.html#idp2611648">Data Cleaning</a>

        <ol>
          <li data-type="sect1"><a href="ch09.html#idp2535936">What does it mean when we
          say data is clean?</a></li>
        </ol>
      </li>

      <li data-type="chapter">
        <a href="ch10.html#idp2634192">Types of Data Checks</a>

        <ol>
          <li data-type="sect1"><a href="ch10.html#idp2648960">When to Check</a></li>
        </ol>
      </li>

      <li data-type="chapter">
        <a href="ch11.html#idp2701472">What Data Checking Can and Can&rsquo;t Catch</a>

        <ol>
          <li data-type="sect1"><a href="ch11.html#idp2718304">Screening: Search patterns
          for identifying wrong values</a></li>
        </ol>
      </li>

      <li data-type="chapter">
        <a href="ch12.html#idp2753952">Data Transformations</a>

        <ol>
          <li data-type="sect1"><a href="ch12.html#idp2723696">Normal distribution and
          skewness in data</a></li>
        </ol>
      </li>
    </ol>
  </li>

  <li data-type="part">
    <a href="part04.html#idp2759568">Visualizing Data</a>
    <ol>
      <li data-type="chapter">
        <a href="ch13.html#idp2867136">Deciding Which and How Much Data to Illustrate</a>

        <ol>
          <li data-type="sect1"><a href="ch13.html#idp2847088">1. Determine your
          message</a></li>

          <li data-type="sect2"><a href="ch13.html#idp2869296">2. Understand your
          audience</a></li>

          <li data-type="sect6"><a href="ch13.html#idp2909728"></a></li>
        </ol>
      </li>

      <li data-type="chapter"><a href="ch14.html#idp2920528">Choosing the Right Graph Type
      for Your Data</a></li>

      <li data-type="chapter">
        <a href="ch15.html#idp2906816">Graphing the Results of Checkbox Responses</a>

        <ol>
          <li data-type="sect1"><a href="ch15.html#idp2913728">Checkbox responses</a></li>
        </ol>
      </li>

      <li data-type="chapter">
        <a href="ch16.html#idp2915344">Anatomy of a graphic</a>

        <ol>
          <li data-type="sect1"><a href="ch16.html#idp3018160">Clear and Relevant
          Axes</a></li>
        </ol>
      </li>

      <li data-type="chapter">
        <a href="ch17.html#idp3064672">Importance of Color, Font, and Icons</a>

        <ol>
          <li data-type="sect1"><a href="ch17.html#idp3066736">Form (Frequently) Tyrannizes
          Function</a></li>
        </ol>
      </li>

      <li data-type="chapter"><a href="ch18.html#idp3106048">Color Best Practices</a></li>

      <li data-type="chapter">
        <a href="ch19.html#idp3097248">Print Vs. Web, Static Vs. Interactive</a>

        <ol>
          <li data-type="sect1"><a href="ch19.html#idp3099440">Defining print vs. web,
          static vs. interactive</a></li>
        </ol>
      </li>
    </ol>
  </li>

  <li data-type="part">
    <a href="part05.html#idp3120272">What Not To Do</a>
    <ol>
      <li data-type="chapter">
        <a href="ch20.html#idp3149632">Ways to Lie with Graphs</a>

        <ol>
          <li data-type="sect1"><a href="ch20.html#idp3145088">Contrast</a></li>
        </ol>
      </li>

      <li data-type="chapter"><a href="ch21.html#idp3171696">Sample Size and
      Missingness</a></li>

      <li data-type="chapter"><a href="ch22.html#idp3154864">Common Visualization
      Mistakes</a></li>
    </ol>
  </li>

  <li data-type="part"><a href="part06.html#idp3186208">Conclusion</a></li>
</ol>
