<nav data-type="toc">
  <ol>
    <li data-type="part">
      <a href="titlepage01.html">Introduction</a>
      <ol>
        <li data-type="preface">
          <a href="preface01.html">Preface</a>
        </li>
        <li data-type="foreword">
          <a href="foreword01.html">Foreword</a>
        </li>
        <li data-type="introduction">
          <a href="introduction01.html">How to Use This Book</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part01.html">Data Fundamentals</a>
      <ol>
        <li data-type="chapter">
          <a href="ch01.html">Basic Data Types</a>
        </li>
        <li data-type="chapter">
          <a href="ch02.html">About Data Aggregation</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part02.html">Collecting Data</a>
      <ol>
        <li data-type="chapter">
          <a href="ch03.html">Intro to Survey Design</a>
        </li>

        <li data-type="chapter">
          <a href="ch04.html">Types of Survey Questions</a>
        </li>

        <li data-type="chapter">
          <a href="ch05.html">Additional Data Collection Methods</a>
        </li>

        <li data-type="chapter">
          <a href="ch06.html">Finding External Data</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part03.html">Getting Data Ready</a>
      <ol>
        <li data-type="chapter">
          <a href="ch07.html">Data Preparation</a>
        </li>

        <li data-type="chapter">
          <a href="ch08.html">Data Cleaning</a>
        </li>

        <li data-type="chapter">
          <a href="ch09.html">Types of Data Checks</a>
        </li>

        <li data-type="chapter">
          <a href="ch10.html">What Data Cleaning Can and Can&rsquo;t Catch</a>
        </li>

        <li data-type="chapter">
          <a href="ch11.html">Data Transformations</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part04.html">Visualizing Data</a>
      <ol>
        <li data-type="chapter">
          <a href="ch12.html">Deciding Which and How Much Data to Illustrate</a>
        </li>

        <li data-type="chapter">
          <a href="ch13.html">Graphing the Results of Checkbox Responses</a>
        </li>

        <li data-type="chapter">
          <a href="ch14.html">Anatomy of a Graphic</a>
        </li>

        <li data-type="chapter">
          <a href="ch15.html">Importance of Color, Font, and Icons</a>
        </li>

        <li data-type="chapter">
          <a href="ch16.html">Print Vs. Web, Static Vs. Interactive</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part05.html">Don't Be Sketchy</a>
      <ol>
        <li data-type="chapter">
          <a href="ch17.html">Perception Deception</a>
        </li>

        <li data-type="chapter"><a href="ch18.html">Common Visualization
          Mistakes</a>
        </li>
      </ol>
    </li>

    <li data-type="part">
      <a href="part06.html">Conclusion</a>
      <ol>
        <li data-type="chapter">
          <a href="app01.html">Appendix</a>
        </li>
        <li data-type="chapter">
          <a href="glossary01.html">Glossary</a>
        </li>
        <li data-type="chapter">
          <a href="acknowledgments01.html">Contributors</a>
        </li>
      </ol>
    </li>
  </ol>
</nav>
